<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"
        tools:ignore="UnusedAttribute" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <application
        android:name=".Ki2Application"
        android:icon="@drawable/ic_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ki2.NoActionBar"
        tools:targetApi="34">
        <activity
            android:name=".activities.devices.details.DeviceDetailsActivity"
            android:exported="false"
            android:theme="@style/Theme.Ki2.NoActionBar.Blue" />
        <activity
            android:name=".activities.devices.gearing.DeviceGearingActivity"
            android:exported="false"
            android:theme="@style/Theme.Ki2.NoActionBar.Blue" />
        <activity
            android:name=".activities.devices.add.AddDeviceActivity"
            android:exported="false" />
        <activity
            android:name=".activities.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.settings.SettingsActivity"
            android:exported="true" />
        <activity
            android:name=".activities.update.UpdateActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Ki2.NoActionBar.Blue">
            <intent-filter>
                <action android:name="com.valterc.ki2.action.update.UPDATE_STATUS" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.valterc.ki2.action.UPDATE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.Ki2Service"
            android:exported="true"
            tools:ignore="ExportedService" />

        <service android:name=".karoo.Ki2ExtensionService"
            android:exported="true"
            tools:ignore="ExportedService"
            android:foregroundServiceType="specialUse">
            <intent-filter>
                <action android:name="io.hammerhead.karooext.KAROO_EXTENSION" />
            </intent-filter>
            <meta-data
                android:name="io.hammerhead.karooext.EXTENSION_INFO"
                android:resource="@xml/karoo_extension_info" />
        </service>

        <meta-data
            android:name="io.hammerhead.karooext.MANIFEST_URL"
            android:value="https://github.com/valterc/ki2/releases/latest/download/manifest.json" />

    </application>

</manifest>