name: Android Validate

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Set up JDK 21
      uses: actions/setup-java@v3
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: gradle

    - name: Inject variables and secrets
      env:
        ANDROID_RELEASE_KEY_BASE64: ${{ secrets.ANDROID_RELEASE_KEY_BASE64 }}
        ANDROID_RELEASE_KEY_ALIAS: ${{ secrets.ANDROID_RELEASE_KEY_ALIAS }}
        ANDROID_RELEASE_KEY_PASSWORD: ${{ secrets.ANDROID_RELEASE_KEY_PASSWORD }}
        GH_USER: ${{ secrets.GH_USER }}
        GH_KEY: ${{ secrets.GH_KEY }}
      run: |
        echo "<?xml version=\"1.0\" encoding=\"utf-8\"?><resources><string name=\"network_key\">${{ secrets.S_NETWORK_KEY }}</string></resources>" > app/src/main/res/values/secrets.xml
        echo ${ANDROID_RELEASE_KEY_BASE64} | base64 -d > app/release-application-key
        echo "RELEASE_STORE_FILE=release-application-key" >> local.properties
        echo "RELEASE_STORE_PASSWORD=${ANDROID_RELEASE_KEY_PASSWORD}" >> local.properties
        echo "RELEASE_KEY_ALIAS=${ANDROID_RELEASE_KEY_ALIAS}" >> local.properties
        echo "RELEASE_KEY_PASSWORD=${ANDROID_RELEASE_KEY_PASSWORD}" >> local.properties
        echo "gpr.user=${GH_USER}" >> local.properties
        echo "gpr.key=${GH_KEY}" >> local.properties

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
      
    - name: Build with Gradle
      run: ./gradlew build

    - name: Get Release Notes
      id: release-notes
      uses: RedCrafter07/release-notes-action@v1
      with:
        tag-name: ${{ github.ref_name }}
        token: ${{ secrets.GH_TOKEN }}

    - name: Generate Manifest file
      run: |
        cp app/manifest-template.json app/build/manifest.json
        sed -i 's/__VERSION_NAME__/${{ github.ref_name }}/g' app/build/manifest.json
        sed -i 's/__VERSION_CODE__/${{ github.run_number }}/g' app/build/manifest.json
        sed -i 's/__RELEASE_NOTES__/${{ steps.release-notes.outputs.release-notes }}/g' app/build/manifest.json
        cat app/build/manifest.json